body{
background: rgb(26,49,171);
background: radial-gradient(circle, rgba(26,49,171,1) 0%, rgba(166,35,61,1) 100%);
}
*{
    color: white;
    font-family: 'Tisa Sans Pro Regular', Arial, Helvetica, sans-serif
}
.container{
    width: auto;
    margin: auto; /* div wysrodkowany? how??? */
}
h1{
    text-align: center;
    font-weight: 100;
    animation: zoomin 0.5s;
}
.tile{
    width: 240px;
    height: 240px;
    background: rgb(87, 85, 85);
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* wtf */
    transition: all 0.3s;
    border-radius: 10px;
}
.tile a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}
.tile:hover{
    box-shadow: 0 0 0 5px white;
    filter: brightness(120%);
    transform: scale(1.1);
}
.tile .fa{
    font-size: 60px;
    margin-top: 10px;
}
.icon{
    font-size: 150px;
    text-align: center;
    grid-area: icon;
}
#play{
    visibility: visible;
}
#box{
    visibility: hidden;
    width: 750px;
    height: 750px;
    background: rgb(87, 85, 85);
    margin: 10px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center; /* wtf */
    transition: all 0.3s;
    border-radius: 10px;

    grid-template-areas: 
    "opphp opp opp ."
    ". gun gun bullets"
    "player player player player";
}
.rtbox{
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}
.opp{
    grid-area: opp;
}
.gun{
    grid-area: gun;
}
.player{
    grid-area: player;
    display: grid;
    grid-template-areas: 
    "name icon icon icon opp"
    "name icon icon icon you";
    gap: 10px;
}
button{
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    background: rgb(44, 44, 44);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    background: rgb(116, 116, 116);
}
button:active{
    background: black;
}
.opponent{
    grid-area: opp;
    height: 60px;
}
.you{
    grid-area: you;
    height: 60px;
}
.youname{
    grid-area: name;
}
.opphp{
    grid-area: opphp;
}
.bullets{
    grid-area: bullets;
    margin-left: 50px;
}
details{
    cursor: pointer;
}
summary{
    color: red;
}
.admin{
    position: absolute;
    top: 10px;
    right: 10px;
}